aiohttp>=2.2.5
alphabet_detector
beautifulsoup4
bleach
cachetools
configparser
Python_ARQ
currencyconverter
emoji
feedparser
future
git+https://github.com/python-telegram-bot/ptbcontrib.git
gitpython
gpytranslate
markdown2
multicolorcaptcha
pillow>=4.2.0
psutil
psycopg2-binary
pyYAML>=5.1.2
pyrate-limiter
python-telegram-bot==13.12
requests
spamwatch
speedtest-cli
sqlalchemy==1.4.29
ujson
pycryptodome
base58
pytimeparse
Tgcrypto
pyrogram==1.4.15
telethon==1.24.0
motor
odmantic
telegraph
pymongo[srv]
opencv-python-headless
git+https://github.com/1danish-00/google_trans_new.git
